<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主页</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">
    <script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/extensions/export/bootstrap-table-export.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script th:src="@{/static/js/modules/httpKit.js}"></script>
    <script th:src="@{/static/js/modules/defaultTable.js}"></script>
    <script th:src="@{/static/js/modules/validator.js}"></script>
    <style type="text/css">
        body {
            padding: 40px;
        }
    </style>
</head>
<body>
<div class="inline">
    <h1><a th:href="@{/index}">INDEX</a></h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-primary" value="注销"/>
    </form>
</div>


<br/>你好：<a th:text="${user?.username} + '，加入时间: ' + ${#dates.format(user?.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></a>
<hr/>
<br/> 点击获取ID=1的用户信息:
<button id="button1" type="button" class="btn btn-primary">click</button>
<hr/>
<br/> 点击获取用户集合信息:
<button id="button2" type="button" class="btn btn-primary">click</button>
<hr/>

<div>
    <div>
        <div class="col-*-12">

            <div id="toolbar">
                <div class="btn btn-primary" data-toggle="modal" data-target="#addModal">添加用户</div>
            </div>

            <table id="main-table" class="table table-hover"></table>

            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="text-align: center">
                            <h4 class="modal-title">添加用户</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" action="javascript:void(0)" id="add-user-form">
                                <div class="form-group row">
                                    <label for="username" class="col-sm-3 control-label">
                                        <span style="color: #CF1900">*</span>用户名
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="username" placeholder="请输入用户名" autocomplete="off">
<!--                                        <small class="username-tips" style="display: none;"></small>-->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="username" class="col-sm-3 control-label">
                                        <span style="color: #CF1900">*</span>密码
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="password" placeholder="请输入密码" autocomplete="off">
<!--                                        <small class="password-tips" style="display: none;"></small>-->
                                    </div>
                                </div>

                                <div class="form-group" style="text-align: center">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-primary" id="addRecord">确定</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    $('#button1').click(function () {
        http.getData('/index/user/1'
        ).then(function (res) {
            console.log(res.data);
        }).catch(function (res) {
            alert(res.message);
        })
    });

    $('#button2').click(function () {
        http.getData('/index/users'
        ).then(function (res) {
            console.log(res.data);
        }).catch(function (res) {
            alert(res.message);
        })
    });

    $('#addRecord').on('click', function () {
        let username = $("#username").val();
        let password = $("#password").val();
        http.postData('/index/user/add', {
            username: username,
            password: password
        }).then(function (result) {
            alert(result.message);
            renderTable();
        }).catch(function (result) {
            alert(result.message);
        })
    });

    function renderTable() {
        let columns = [
            {
                title: "全选",
                field: "select",
                checkbox: true,
                width: 20,//宽度
                align: "center",//水平
                valign: "middle"//垂直
            },
            {
                title: "ID",//标题
                field: "id",//键名
                order: "desc"//默认排序方式
            },
            {
                title: "用户名",
                field: "username",
                titleTooltip: "this is username"
            },
            {
                title: "密码",
                field: "passwordHash",
                titleTooltip: "this is passwordHash"
            },
            {
                title: "创建时间",
                field: "createdTime",
            },
            {
                title: "更新时间",
                field: "updatedTime",
            }
        ];
        defaultTable.renderTable('main-table', '/index/page/users', columns, 'toolbar');
    }

    function formValidator() {
        validator.validate('add-user-form', username, password);
    }

    // 页面html加载完后执行
    $(function () {
        renderTable();
        formValidator();
    })

</script>
</html>