<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主页</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.css" rel="stylesheet">
    <script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/extensions/export/bootstrap-table-export.js"></script>
    <script th:src="@{/static/js/modules/httpKit.js}"></script>
    <style type="text/css">
        body {
            padding: 40px;
        }
    </style>
</head>
<body>
<div class="inline">
    <h1><a th:href="@{/index}">INDEX</a></h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-primary" value="注销"/>
    </form>
</div>


<br/>你好：<a th:text="${user?.username} + '，加入时间: ' + ${#dates.format(user?.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></a>
<hr/>
<br/> 点击获取ID=1的用户信息:
<button id="button1" type="button" class="btn btn-primary">click</button>
<hr/>
<br/> 点击获取用户集合信息:
<button id="button2" type="button" class="btn btn-primary">click</button>
<hr/>

<div>
    <div>
        <div class="col-*-12">

            <div id="toolbar">
                <div class="btn btn-primary" data-toggle="modal" data-target="#addModal">添加用户</div>
            </div>

            <table id="main-table" class="table table-hover"></table>

            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="text-align: center">
                            <h4 class="modal-title">添加用户</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" action="javascript:void(0)">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="username" placeholder="请输入用户名" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" placeholder="请输入密码" autocomplete="off">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="addRecord">确定</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    $('#button1').click(function () {
        http.getData('/index/user/1'
        ).then(function (res) {
            console.log(res.data);
        }).catch(function (res) {
            alert(res.message);
        })
    });

    $('#button2').click(function () {
        http.getData('/index/users'
        ).then(function (res) {
            console.log(res.data);
        }).catch(function (res) {
            alert(res.message);
        })
    });

    $(function () {
        //根据窗口调整表格高度
        $(window).resize(function () {
            $('#main-table').bootstrapTable('resetView', {
                height: tableHeight()
            })
        })

        $('#main-table').bootstrapTable({
            url: "/index/page/users",//数据源
            // dataField: "rows",//服务端返回数据键值 就是说记录放的键值是rows，分页时使用总记录数的键值为total
            height: tableHeight(),//高度调整
            search: true,//是否搜索
            pagination: true,//是否分页
            pageSize: 20,//单页记录数
            pageNumber : 1, //当前第几页
            pageList : [ 10, 25, 50, 100 ], //记录数可选列表
            sidePagination: "server",//服务端分页
            cache: false,//是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）,区别客户端分页
            contentType: "application/x-www-form-urlencoded",//请求数据内容格式 默认是 application/json 自己根据格式自行服务端处理
            dataType: "json",//期待返回数据类型
            method: "post",//请求方式
            searchAlign: "left",//查询框对齐方式
            // queryParamsType: "limit",//查询参数组织方式
            // queryParams: function getParams(params) {
            //     //params obj
            //     params.other = "otherInfo";
            //     return params;
            // },
            searchOnEnterKey: false,//回车搜索
            // showRefresh: true,//刷新按钮
            // showColumns: true,//列选择按钮
            buttonsAlign: "left",//按钮对齐方式
            toolbar: "#toolbar",//指定工具栏
            toolbarAlign: "right",//工具栏对齐方式
            columns: [
                {
                    title: "全选",
                    field: "select",
                    checkbox: true,
                    width: 20,//宽度
                    align: "center",//水平
                    valign: "middle"//垂直
                },
                {
                    title: "ID",//标题
                    field: "id",//键名
                    order: "desc"//默认排序方式
                },
                {
                    title: "用户名",
                    field: "username",
                    titleTooltip: "this is username"
                },
                {
                    title: "密码",
                    field: "passwordHash",
                    titleTooltip: "this is passwordHash"
                },
                {
                    title: "创建时间",
                    field: "createdTime",
                },
                {
                    title: "更新时间",
                    field: "updatedTime",
                }
            ],
            responseHandler: function (res) {
                if (res.data == undefined || res.data == null) {
                    return {
                        "total" : 0,
                        "rows" : []
                    }
                } else {
                    return {
                        "total" : res.count,
                        "rows" : res.data
                    }
                }
            },
            // onClickRow: function (row, $element) {
            //     //$element是当前tr的jquery对象
            //     $element.css("background-color", "green");
            // },//单击row事件
            locale: "zh-CN", //中文支持
            // detailView: false, //是否显示详情折叠
            // detailFormatter: function (index, row, element) {
            //     var html = '';
            //     $.each(row, function (key, val) {
            //         html += "<p>" + key + ":" + val + "</p>"
            //     });
            //     return html;
            // }
        });

        $("#addRecord").click(function () {
            alert("username:" + $("#username").val() + " password:" + $("#password").val());
        });
    })

    function tableHeight() {
        return $(window).height() - 50;
    }

    /**
     * 列的格式化函数 在数据从服务端返回装载前进行处理
     * @param  {[type]} value [description]
     * @param  {[type]} row   [description]
     * @param  {[type]} index [description]
     * @return {[type]}       [description]
     */
    function infoFormatter(value, row, index) {
        return "id:" + row.id + " name:" + row.name + " age:" + row.age;
    }
</script>
</html>